:root{
    --cor00:#044040;
    --cor01:#D92525;
    --cor02:#8C1F28;
    --cor03:#591C21;
    --cor04:#F2F2F2;
}
@import url('https://fonts.googleapis.com/css2? family= Sometype+Mono & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Open+Sans & display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: 'Sometype Mono', monospace;
}



header{
    text-align: center;
    padding: 1rem;
    background-image: linear-gradient(to bottom, rgba(129, 129, 129, 0.233), var(--cor00));
}

header img {
    width: 75px;
    border-radius: 50%;
    border: 1px solid var(--cor04);
    box-shadow: 2px 2px 200px black;
}

header a{
    padding: .5rem;
    font-size: .730rem;
    text-decoration: none;
    color: var(--cor04);
}

header a span{
    color: #D92525;
}

body{
    background-color: var(--cor00);
}

#apresentacao{
    padding: .5rem;
}

#apresentacao span{
    margin-bottom: 200px;
    font-size: .675rem;
    font-family: 'Sometype Mono', monospace;
    text-shadow: 1px 1px 60px black;
    color: var(--cor01);
}

#apresentacao h1{
    margin: 15px 0;
    color: var(--cor04);
    font-size: 45px;
    text-shadow: 1px 1px 60px black;
}

#apresentacao h2{
    margin: 0 0 15px 0;
    font-size: 25px;
    color: rgb(203, 205, 206);
    text-shadow: 1px 1px 60px black;
}

#apresentacao p{
    margin-bottom: 15px;
    text-align: justify;
    font-family: 'Sometype Mono', monospace;
    font-size: 16px;
    color: rgb(150, 153, 155);
    text-shadow: 1px 1px 60px black;
}

#apresentacao a{
    padding: 5px;
    text-decoration: none;
    font-size: 13px;
    color: var(--cor04);
    border: 1px solid var(--cor04);
    border-radius: .4rem;
    box-shadow: 6px 6px 50px var(--cor00); 
}

#projetos{
    padding: .5rem;
}

#projetos h2{
    text-align: center;
    color: var(--cor04);
    text-shadow: 1px 1px 60px black;
}

#projetos span{
    color: var(--cor01);
}

.bloc-projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.projeto1, .projeto2, .projeto3 {
    width: 250px;
    height: 100px;
    margin: .5rem auto;
    background-color: var(--cor03);
    border-radius: 1rem;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.342);
    transition: transform 0.5s ease;
}

.projeto1:hover, 
.projeto2:hover, 
.projeto3:hover{
    transform: scale(1.1);
}

#contatos{
    padding: .5rem;
    text-shadow: 1px 1px 60px black;
    
}

#contatos h2{
    text-align: center;
    color: var(--cor04);
}

#contatos span{
    color: var(--cor01);
}

.icon-contatos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-contatos img{
    width: 30px;
    margin: .5rem;
    padding: 1px;
    background-color: #044040;
    border-radius: 30%;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.342);
    transition: transform 0.3s ease;
}

.icon-contatos img:hover{
    transform: scale(1.3);
}

/* #ultima-sec{
    position: fixed;
    bottom: 0;
    width: 100%;
} */

footer{
    bottom: 0;
    width: 100%;
    padding: 3px;
    background-color: #591C21;
    text-align: center;
}

footer span{
    color: var(--cor04);
}

